db_host=localhost
db_user=%DB_USER%
db_pass=%DB_PASS%
db_name=%DB_NAME%
vpn_man_host=127.0.0.1
vpn_man_port=%MNG_PORT%
status_interval=0
vpn_id=%ID%
log_file=%VPN_HOME_DIR%/../log/vpn%ID%_ctrl.log
pid_file=/var/run/openvpn/vpn%ID%_server_ctrl.pid
